:root {
  --dark: #121314;
  --light: #efeeed;

  --red: #e3342f;
  --green: #0fa74e;
  --blue: #3490dc;

  --bgColor: var(--light);
  --textColor: var(--dark);

  --moveOffset: 1.35px;
}

.container {
  max-width: 72rem;
  padding: 2rem 3rem;
  margin: auto;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0.2rem 1rem;
  }
}
* {
  box-sizing: border-box;
}

h1 {
  background: linear-gradient(60deg, #0fa74e 0%, #3490dc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  box-sizing: border-box;
  /* position: relative; */
  font-family: -apple-system, 'Helvetica Neue', BlinkMacSystemFont, Cantarell,
    'Open Sans', sans-serif;
  font-size: calc(22px + 0.33vw);
  -webkit-font-smoothing: antialiased;
  background-color: #efeeed;
  color: #121314;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
}

::selection {
  color: #efeeed;
  background-color: #121314;
}

hr {
  height: 8px;
  color: #121314;
  background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="8px" height="8px" viewBox="0 0 3 3" fill="%23121314"%3E%3Cpolygon points="0,0.5 0,1.5 1.5,3 2.5,3"/%3E%3Cpolygon points="2.5,0 1.5,0 3,1.5 3,0.5"/%3E%3C/svg%3E')
    repeat-x 0 0;
  background-size: 8px 8px;
  border: 0;
  width: 75%;
  margin: 2rem auto;
}

.text svg {
  width: 1em;
  height: 1em;
}

svg {
  fill: currentColor;
}

.arrow-down {
  display: block;
  margin: 2em auto;
  color: lightslategray;
}

.scroll-indicator {
  opacity: 0.25;
  font-size: 4rem;
  text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
  color: lightslategray;
  margin: 15vh 0 15vh;
  text-align: center;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.slide-left-enter-active,
.slide-right-enter-active,
.slide-left-leave-active,
.slide-right-leave-active {
  transition-property: opacity, transform;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
}

[data-mode=''] .slide-right-leave-active {
  position: absolute;
  left: 0;
  z-index: -1;
}
[data-mode=''] .slide-right-enter-active {
  position: absolute;
  left: 0;
  /* right: 0; */
  z-index: -1;
}
[data-mode=''] .slide-left-enter-active {
  position: absolute;
  left: 0;
  z-index: -1;
}
[data-mode=''] .slide-left-leave-active {
  /* right: 0; */
  left: 0;
  position: absolute;
  z-index: -1;
}

/* [data-mode='in-out'] .slide-left-enter-active,
[data-mode='in-out'] .slide-right-enter-active,
[data-mode='in-out'] .slide-left-leave-active,
[data-mode='in-out'] .slide-right-leave-active {
  position: absolute;
  z-index: -1;
} */

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(calc(4rem), 0);
}

.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(calc(-4rem), 0);
}

a {
  /* RESET */
  text-decoration: none;
  line-height: 1;

  position: relative;
  z-index: 0;
  display: inline-block;
  padding: 5px 5px;
  overflow: hidden;
  color: #333;
  vertical-align: bottom;
  transition: color 0.3s ease-out;
}

a::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0.2em;
  left: 0;
  transform: translateY(calc(90% - 0.2em)) rotateZ(1.5deg);
  width: 100%;
  height: 100%;
  background-image: linear-gradient(60deg, #0fa74e 0%, #3490dc 100%);
  transition: transform 0.25s ease-out;
}

a:hover {
  color: #fff;
}
a:hover::before {
  transform: translateY(-0.2em);
  transition: transform 0.25s ease-out;
}
