:root {
  --dark: #121314;
  --light: #efeeed;

  --red: #e3342f;
  --green: #0fa74e;
  --blue: #3490dc;

  --bgColor: var(--light);
  --textColor: var(--dark);

  --moveOffset: 1.35px;
}

.container {
  max-width: 72rem;
  margin: auto;
  width: 100%;
}

.long {
  height: 1.5vh;
}

body {
  box-sizing: border-box;
  position: relative;
  font-family: -apple-system, 'Helvetica Neue', BlinkMacSystemFont, Cantarell,
    'Open Sans', sans-serif;
  font-size: calc(22px + 0.33vw);
  -webkit-font-smoothing: antialiased;
  padding: 5vh 10vw;
  background-color: #efeeed;
  color: #121314;
  margin: 0;
  min-height: 100vh;
}

::selection {
  color: #efeeed;
  background-color: #121314;
}

a {
  display: inline-block;
  color: #3490dc;
  position: relative;
  font-weight: 500;
  text-decoration: none;
  transition: color 500ms linear 200ms;
}

a:hover,
a:focus {
  color: #0fa74e;
}

hr {
  height: 8px;
  color: #121314;
  background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="8px" height="8px" viewBox="0 0 3 3" fill="%23121314"%3E%3Cpolygon points="0,0.5 0,1.5 1.5,3 2.5,3"/%3E%3Cpolygon points="2.5,0 1.5,0 3,1.5 3,0.5"/%3E%3C/svg%3E')
    repeat-x 0 0;
  background-size: 8px 8px;
  border: 0;
  width: 75%;
  margin: 2rem auto;
}

.text svg {
  width: 1em;
  height: 1em;
}

svg {
  fill: currentColor;
}

.arrow-down {
  display: block;
  margin: 2em auto;
  color: lightslategray;
}

.scroll-indicator {
  opacity: 0.25;
  font-size: 4rem;
  text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
  color: lightslategray;
  margin: 1em 0 80vh;
  text-align: center;
}
